.AddTaskFormComponentClass{

    display: flex;
    align-items: center;
    gap: 20px;
     
    button{
      padding: 10px 20px;
      color: white !important;
      background-color: hsl(160, 70%, 30%);
     &:disabled{
      background-color: hsl(220, 30%, 15%);
     }
    }

}